<h1 class="container-fluid px-6">New Place</h1>

<div class="container-fluid px-6">
  <%= form_with model: @place do |form| %>
    <p>
      <%= form.label "name" %>
      <%= form.text_field "name" %>
    </p>
    <p>
      <%= form.submit "Add Place", class: "btn btn-primary btn-sm" %>
    </p>
  <% end %>
</div>